.All-Traits-List-Item {
    height: max-content;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 100%;
    padding-bottom: 2vh;
    padding: 2vh;
    margin: 4vh 0vh;
    box-shadow: 0 5px 5px -6px #333;

    transition: all 250ms ease;
}
.All-Traits-List-Item {
    margin: auto;
}
li {
    list-style: none;
}
li p:nth-child(1) {
    font-weight: 700;
    margin: 1vh 0;
    /* color: white; */
}
li p {
    /* color: white; */
}

.All-Traits-List-Item:hover {
    cursor: pointer;
    background-color: #425a6e ;
}
.All-Traits-List-Item:active {
    transform: scale(0.98);
}