.Items-Container {
    margin: 7vh auto;
    padding: 1vh 0;
    width: 65%;

    display: flex;

    border-radius: 2vh;
    color: #ccd6da;
}
.Items-Container img {
    border-radius: 5px;
}
.Items-Container .Item-Card .Tool-Tip {
    left: -75%;
}
.Items-Left,
.Items-Right {
    padding: 3vh;
}
.Items-Left {
    width: 30%;
    box-shadow: 1px 0px 1px -1px #ccd6da;
}
.Items-Left img {
    max-height: 2.5em;
}
.Items-Left ul {
    box-shadow: 0px 1px 1px -1px #ccd6da, 0px -1px 1px -1px#ccd6da;
}
.Items-Left-Components input {
    width: 100%;
    border-radius: 0.5vh;
    padding: 1vh;
    margin-bottom: 1vh;
    border: none;
}

.Items-Right {
    width: 70%;
}
.Items-Right img {
    max-height: 3em;
}






@media screen and (max-width: 1600px) {
    .Items-Container {
        width: 80%;
    }
} 
@media screen and (max-width: 1250px) {
    .Items-Container {
        width: 90%;
    }
    .Items-Left {
        width: 35%;
    }
    .Items-Right {
        width: 65%;
    }
}
@media screen and (max-width: 1050px) {
    .Items-Container {
        width: 95%;
    }
    .Items-Left {
        width: 40%;
    }
    .Items-Right {
        width: 60%;
    }
    .Items-Container .Items-Right .Item-Card .Tool-Tip {
        left: -155%;
    }
}
@media screen and (max-width: 900px) {
    .Items-Container {
        width: 100%;
        margin: 2vh auto;
        flex-direction: column;
    }
    .Items-Left {
        width: 100%;
        margin: 0 auto;
        box-shadow: 1px 0px 1px -1px transparent
    }
    .Items-Left .Items-Map-Container { 
        grid-template-columns: repeat(4, 1fr);
        gap: 3vh;
    }
    .Items-Left img {
        max-height: 2.5em;
    }
    .Items-Right {
        width: 100%;
        margin: 0 auto;
    }
    .Items-Left, .Items-Right {
        padding: 1vh;
    }
    .Items-Combined-Map-Component-Container .Items-Combined-Map-Component-Item {
        width: 100%;
        padding: 1vh 0;
    }
    .Items-Container .Item-Card .Tool-Tip {
        left: -50%;
        max-width: 40vw;
    }
    .Items-Map-Container .Items-Map-Item:nth-child(4n) .Tool-Tip {
        left: -300%;
    }
    .Items-Combined-Map-Component-Item-Block .Items-Combined-Map-Component-Item:nth-child(1) .Item-Card .Tool-Tip{
        left: -50%;
    }
    .Items-Combined-Map-Component-Item-Block .Items-Combined-Map-Component-Item:nth-child(5) .Item-Card .Tool-Tip{
        left: -250%;
    }

    .Items-Combined-Map-Component-Item-Block .Items-Combined-Map-Whole-Item:nth-child(1) .Item-Card .Tool-Tip{
        left: -50%;
    }

}