.Champion-Card { 
    text-align: center;
    margin: 0 auto;
    width: max-content;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: all 250ms ease;

    font-size: medium;
    font-weight: 500;
    color: rgb(156, 155, 155);

    position: relative;
}
.Champion-Card img {
    border-radius: 5px;
    box-shadow: 0px 1px 20px -6px rgba(0,0,0,0.75);
    transition: all 250ms ease;
    opacity: 0.85;
}
.Champion-Card p { 
    margin: 0 auto;
    max-width: 80px;
}
.Cost1 { border: 4px solid #9c9684; }
.Cost2 { border: 4px solid #39b65a; }
.Cost3 { border: 4px solid #2f90bd; }
.Cost4 { border: 4px solid #a708a4; }
.Cost5 { border: 4px solid #ff8e00; }

.Champion-Card:hover {
    text-decoration: none;
    color: #d9ecf2;
}
.Champion-Card img:hover {
    opacity: 1;
    border: 4px solid rgb(207, 65, 65);
}
/* ToolTip */
.Champion-Card:hover .Tool-Tip {
    opacity: 1;
    visibility: visible;
}
.Champion-Card .Tool-Tip {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    width: min-content;
    bottom: 120%;
    left: 30%;
    margin: 0 auto;
    transition: all 250ms ease;

    background-color: #1C2331;
    color: white;
    padding-top: 1vh;
    border-radius: 2vh 4vh;
}
.Champion-Card .Tool-Tip__Up,
.Champion-Card .Tool-Tip__Down {
    display: flex;
    align-items: center;
    padding: 0 1em;
    border-radius: 2vh 4vh;
    background-color: #24314e;
    min-width: 200px;
}
.Champion-Card .Tool-Tip__Champion {
    margin: 0.25em 0.5em 0 0;
}
.Champion-Card .Tool-Tip__Champion img {
    max-height: 3em;
}

.Champion-Card .Tool-Tip__Traits .Trait-Card p {
    margin: 0 0.5vh;
} 
.Champion-Card .Tool-Tip__Traits p {
    font-size: small;
}
.Champion-Card .Tool-Tip__Traits img { 
    filter: invert(0.5);
    max-height: 1.5em;
    max-width: 1.5em;
}

.Champion-Card .Tool-Tip__Cost {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1vh;
}
.Champion-Card .Tool-Tip__Cost img {
    max-height: 1vh;
}

.Champion-Card .Tool-Tip__Items {
    box-shadow: 0px -1px 1px -1px white;
    width: 100%;
    padding: 1vh ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* disbale black circles */
.Champion-Card .Tool-Tip__Items .Item-Card .Tool-Tip {
    display: none;
}
.Champion-Card .Tool-Tip__Items img {
    max-height: 4vh;
}
.Champion-Card .Tool-Tip__Items p{
    font-size: medium;
}
.Champion-Card .Tool-Tip img {
    border: none;
}
.Champion-Card .Tool-Tip:hover {
    visibility: hidden;
    opacity: 0;
}