.Item-Card {
    position: relative;
    cursor: pointer;
}
.Item-Card:hover .Tool-Tip {
    opacity: 1;
    visibility: visible;
}
.Item-Card .Tool-Tip {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    width: max-content;
    max-width: 200px;
    text-align: left;
    bottom: 125%;
    left: 50%;
    /* margin: 0 auto; */
    transition: all 250ms ease;

    background-color: #1C2331;
    color: white;
    padding: 1vh;
    border-radius: 1vh;
}
.Item-Card .Tool-Tip:hover {
    visibility: hidden;
    opacity: 0;
} 

.Item-Card .Tool-Tip p { margin: 0; }
.Item-Card .Tool-Tip p:nth-child(1) {
    font-weight: bold;
}