.Items-Map-Container {
    display: grid;
    padding: 2vh 0;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vh;
}
.Items-Map-Item {
    list-style: none;
    width: max-content;
    cursor: pointer;
    opacity: 0.80;
    transition: all 250ms ease;
    position: relative;
}
.Items-Map-Item .Item-Card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid #401a5d;
    border-radius: 5px;
    opacity: 0;
    z-index: 1;
    transition: all 250ms ease;
}

.Items-Map-Item:hover .Item-Card::before{
    opacity: 1;
}
.Items-Map-Item:hover {
    opacity: 1;
}

