.Items-Combined-Map-Whole-Container {
    padding: 5vh 0;
}
.Items-Combined-Map-Component-Item-Block {
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.95);
}

.Items-Combined-Map-Whole-Item {
    list-style: none;
    width: max-content;
    cursor: pointer;
    position: relative;
    transition: all 200ms ease;
    margin: 2vh auto;

    display: flex;
}