.All-Traits-List-Item-Sets {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 20%);
    padding: 2vh 0;
    text-align: center;
    max-width: 1250px;
    text-transform: capitalize;
}
.Trait-Set-Image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Trait-Set-Image img:nth-child(1) {
    transform: scale(1.50);
}
.Trait-Set-Image img:nth-child(2) {
    position: absolute;
}
@media screen and (max-width: 900px){
    .All-Traits-List-Item-Sets {
        display: flex;
        justify-content: space-around;
    }
    .Trait-Set-Image img:nth-child(1) {
        transform: scale(1.15);
    }
    .Trait-Set-Image img:nth-child(2) {
        transform: scale(0.95);
    }
} 