.Champion-Detail-Container {
    margin: 8vh 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 75vh;
    box-shadow: 0px 0px 70px 5px rgba(0,0,0,0.18);
}
/* Disable site effects of using Link in champion card */
.Champion-Detail-Left .Champion-Card { color: black; margin: 1vh auto; padding: 1vh 0; }
.Champion-Detail-Left .Champion-Card:hover { text-decoration: none; }
/* // */
.Champion-Detail-Left {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 9px 1px 41px 0px rgba(0,0,0,0.06);
}
.Champion-Detail-Left-Up {
    box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.95);
    padding: 2vh 0;
}
.Champion-Detail-Left-Up-Stats p { margin: 0;}
.Champion-Detail-Left-Middle .Champion-Ability {
    margin: 2vh 0;
    padding-right: 1vh;
    box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.95);
}



.Champion-Detail-Right {
    width: 60%;
}
/* .Champion-Detail-Right-Up { 
    height: max-content;
    padding: 2vh
} */
.Champion-Detail-Right-Up .Trait-Description, .Champion-Ability { 
    display: flex;
    align-items: center;
    margin: 2vh;
}
.Champion-Detail-Right-Up .Trait-Description, .Champion-Ability p { color: gray; text-align: left;}

.Champion-Detail-Right-Down { 
    padding: 2vh;
}
.Champion-Detail-Right-Down h5 {
    width: 100%;
    text-align: left;
    margin: 2vh;
}
.Champion-Detail-Right-Down-Synergy {
    display: flex;
    align-items: center;
    padding-top: 1vh;
    box-shadow: 0px -1px 1px -1px rgba(0,0,0,0.95);
}
.Champion-Detail-Right-Down-Synergy-Trait-Image {
    width: 10%;
}
.Champion-Detail-Right-Down-Synergy-Champion-Card-Container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.Champion-Detail-Right-Down .Champion-Card { 
    padding: 0vh;
    margin: 1vh 2vh;
    min-width: 100px;
}

.Champion-Detail-Right-Down img { max-height: 7vh; }
.Champion-Detail-Right-Down p { margin: 0; }


@media screen and (max-width: 1400px) { .Champion-Detail-Container { margin: 5vh; } }

@media screen and (max-width: 1000px) { 
    .Champion-Detail-Container { 
        display: grid;
        grid-template-columns: 1fr;
        margin: 5vh 1vh;
    } 
    .Champion-Detail-Left {
        padding: 2vh 0vh;
        width: 100%;
    }
    .Champion-Detail-Right {
        width: 100%;
    }
    .Champion-Detail-Right img {
        max-height: 7vh;
    }
    .Champion-Detail-Right-Down .Champion-Card { 
        margin: 0.5vh 0;
    }
}

