.Champion-Detail-Container {
    margin: 8vh 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 75vh;
    box-shadow: 0px 0px 70px 5px rgba(0,0,0,0.18);

}

/* Disable site effects of using Link in champion card */
.Champion-Detail-Left .Champion-Card { color: black; margin: 1vh auto; padding: 1vh 0; }
.Champion-Detail-Left .Champion-Card:hover { text-decoration: none; }
/* // */
.Champion-Detail-Left {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 9px 1px 41px 0px rgba(0,0,0,0.06);
}
.Champion-Detail-Left img {
    border-radius: 0.5vh;
}
.Champion-Detail-Left-Up {
    box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.95);
    padding: 2vh 0;
}
.Champion-Detail-Left-Up-Stats p { margin: 0;}
.Champion-Detail-Left-Middle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh auto;
}
.Champion-Detail-Left-Middle img {
    max-height: 5vh;
    margin: 0 1vh;
}
.Champion-Detail-Left-Down .Champion-Ability {
    margin: 0;
    padding: 2vh 1vh 1vh;
    box-shadow:0px -1px 1px -1px rgba(0,0,0,0.95);
}


.Champion-Detail-Right {
    width: 60%;
}
.Champion-Detail-Right-Up img {
    max-height: 3vh;
}
.Champion-Detail-Right-Up .Trait-Description,
.Champion-Ability { 
    display: flex;
    align-items: center;
    margin: 2vh;
}
.Champion-Detail-Right-Up .Trait-Description,
.Champion-Ability p { 
    color: gray; text-align: left;
}

.Champion-Detail-Right-Down { 
    padding: 2vh;
}
.Champion-Detail-Right-Down h5 {
    width: 100%;
    text-align: left;
    margin: 2vh;
}
.Champion-Detail-Right-Down-Synergy {
    display: flex;
    align-items: center;
    padding-top: 1vh;
    box-shadow: 0px -1px 1px -1px rgba(0,0,0,0.95);
}
.Champion-Detail-Right-Down-Synergy-Trait-Image {
    width: 10%;
}
.Champion-Detail-Right-Down-Synergy-Champion-Card-Container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.Champion-Detail-Right-Down .Champion-Card { 
    padding: 0vh;
    margin: 1vh 2vh;
    min-width: 100px;
}

.Champion-Detail-Right-Down img { max-height: 6vh; }
/* .Champion-Detail-Right-Down p { margin: 0; } */


@media screen and (max-width: 1400px) { 
    .Champion-Detail-Container { 
        margin: 5vh; 
    }
    .Champion-Detail-Container .Champion-Card:nth-child(4n) .Tool-Tip {
        left: -30%;
    }
}
@media screen and (max-width: 1100px) { 
    .Champion-Detail-Container .Champion-Card:nth-child(3n) .Tool-Tip {
        left: -50%;
    }
}

@media screen and (max-width: 1000px) { 
    .Champion-Detail-Container { 
        display: grid;
        grid-template-columns: 1fr;
        margin: 5vh 1vh;
    } 
    .Champion-Detail-Left {
        padding: 2vh 0vh;
        width: 100%;
    }
    .Champion-Detail-Right {
        width: 100%;
    }
    /* .Champion-Detail-Left-Middle {
        width: 80%;
    } */
    .Champion-Detail-Right img {
        max-height: 7vh;
    }
    .Champion-Detail-Right-Down .Champion-Card { 
        margin: 0.5vh 0;
    }
    .Champion-Detail-Container .Champion-Card .Tool-Tip {
        left: -35%;
    }
    .Champion-Detail-Container .Champion-Card:nth-child(3n) .Tool-Tip {
        left: -100%;
    }
}

